<section>
    <h2 class="main-title">Leagues</h2>

    <mat-accordion *ngFor="let league of allLeagues$ | async">
        <mat-expansion-panel (opened)="addParams(league)" (closed)="removeParams(league)">
            <mat-expansion-panel-header>
                <mat-panel-title class="accordion-title">
                    <h4>{{ league.Name }}</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-tournament [events]="league.Events"></app-tournament>
        </mat-expansion-panel>
    </mat-accordion>
</section>