<section>
    <h2 class="main-title">Leagues</h2>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let league of allLeagues$ | async">
            <!--  (afterExpand)="addParams(league)" (closed)="removeParams()" [expanded]="leagueId === league.Id" -->
            <mat-expansion-panel-header>
                <mat-panel-title class="accordion-title">
                    <h4>{{ league.Name }}</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-tournament [events]="league.Events"></app-tournament>
        </mat-expansion-panel>
    </mat-accordion>
</section>